In [29]:
# Sets also support various data types. But it donot consider duplicate values.
# The output generated while printing the set may be in different order different times
set1={0, 10, -20, True, 30.1, "Hello"}
print(set1)
print(len(set1))  # Length of the set

# If the set contains duplicate elements then it donot consider the index
set1={0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
print(len(set1)) # It contains duplicates

# Since the items in the set are unordered we cannot perform indexing, slicing operation
# We cannot change items in a set but we can add or delete items from set
# Inorder to create a set we have take input in {} 
# We have to use set() function for creating empty set. Otherwise it would belong to dictionary datatype
set1={10,20,30,40}
print(type(set1))
set2=set()
print(type(set2))
set3={}
print(type(set3))

{0, True, 10, 'Hello', -20, 30.1}
6
7
<class 'set'>
<class 'set'>
<class 'dict'>

In [30]:
# To add items to the set we use "add" method
set1={0, 10, -20, True, 30.1, "Hello"}
set1.add(99)
print(set1)
# To remove items from the set we use "remove" method
# It removes duplicates also
set2={0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
set2.remove(10) #Since 10 is repeated two times, both are removed
print(set2)
# We can alsoe use "discard" method to remove elements from the set
set1={0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
set1.discard(10)
print(set2)
# If we try to remove the element which is not there in the set then it shows Key error
# If we try to discard the element which is not there in the set then it doesnot show any error
# We use clear method to remove all items from set and pop for removing random item from set
set1= {0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
set1.pop()
print(set1)
set1= {0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
set1.clear()
print(set1)
# We can add only immutable items to the set, like tuples but mutable items cannot be add to the set
set1= {0, 10, -20, True, 30.1, "Hello", 12.77, 10, "Hello"}
set1.add((10,20,30,40))
print(set1)

{0, True, 99, 10, 'Hello', -20, 30.1}
{0, True, 'Hello', -20, 12.77, 30.1}
{0, True, 'Hello', -20, 12.77, 30.1}
{True, 10, 'Hello', -20, 12.77, 30.1}
set()
{0, True, (10, 20, 30, 40), 10, 'Hello', -20, 12.77, 30.1}